
  <p>Autor:  <%= author %></p>

  <picture>
  <source
    media="(min-width: 650px)"
    srcset="../images/yo.jpg">
  <source
    media="(min-width: 465px)"
    srcset="../images/yo.jpg">
  <img
    src="../images/yo.jpg"
    alt="Yo mismo">
</picture>
