
  <p>Autor:  <%= author %></p>

  <picture>
  <source
    media="(min-width: 650px)"
    srcset= "public/images/yo.jpg">
  <source
    media="(min-width: 465px)"
    srcset= "public/images/yo.jpg">
  <img
    src="public/images/yo.jpg"
    alt="Yo mismo">
</picture>
